.body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.games_catagory {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.cards_list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

.card:hover {
  cursor: pointer;
}

h2 {
  font-size: 25px;
  margin-top: 5vh;
}

.h2top {
  margin-top: 100px;
}
